<% @playlist.all_tracks.each do |track| -%>
  <li class="track"><%= link_to track.title.blank? ? track.file_name : "#{track.artist} - #{track.title}", file_url(:sha1 => track.sha1urn.to_s) -%></li>
<% end -%>
