<% plugin_javascript_include "jquery.hotkeys.js", "live_search", "search" -%>
<div id="search">
  <% remote_form_for :search, :html => { :id => 'search_form' } do |f| -%>
    <div id="submit_wrapper">
      <%= submit_tag "Search", :id => 'submit' -%>
    </div>
    <div id="search_wrapper">
      <div id="search_inner">
	<%= f.text_field :query, :id => 'query', :autocomplete => 'off' -%>
      </div>
    </div>
    
    <ul id="results"></ul>
  <% end -%>
</div>
<div id="playlists">
  <%= select :playlist, :id, Playlist.all.map{|p| [p.name, p.id]}, :html => {:id => 'selected_playlist'} -%>
  <div class="tracks">
    <% Playlist.first.all_tracks.each do |track| -%>
      <div class="track"><%= track.file_name -%></div>
    <% end -%>
  </div>
</div>

<script type="text/javascript">
  $('#playlist_id').change(function() {
    $.get('/twopane/playlist_tracks?playlist='+$(this).val(), function(result) {
      $.each(result, function(track) {
        
      });
      console.log(result.length);
    });
  });
</script>
