body {
  font-family: Helvetica, Arial, sans-serif;
}

h1.main_logo {
  text-indent: -10000px;
  width: 270px;
  height: 246px;
  background: url(/images/limewire_remote_logo.png) top left no-repeat;
  float: left;
}

h2.plugins_header {
  font-weight: normal;
  font-size: 0.8em;
  color: #666;
  margin-top: 3em;
  text-transform: uppercase;
}

#widgets_container {
  width: 620px;
  margin: auto;
}

.widgets {
  width: 300px;
  margin: 0 10px 0 0;
  float: left;
}

.widgets .widget {
  display: block;
  width: 480px;
  background-color: #eee;
  padding: 10px;
  margin: 5px 5px 5px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.widgets .widget:hover {
  background-color: #5FB455; /* 9b6 */
}

.widgets .widget a.title {
  text-transform: uppercase;
  font-weight: bold;
  color: #666;
  text-decoration: none;
  font-size: 2em;
  padding-top: 18px;
  display: block;
}

.widgets .widget:hover a {
  color: #FFF;
}

.widgets .widget:hover .handle {
  border-color: #777;
}

.widgets .widget .handle {
  display: block;
  width: 8px;
  background-color: #FFF;
  background: url('/images/handle.png');
  border-right: 1px solid #BBB;
  border-left: 1px solid #BBB;
  height: 50px;
  float: left;
  text-indent: -10000px;
  margin: 5px 10px 5px 5px;
  cursor: move;
}


/* ===== Login ===== */
#login-wrapper {
  margin: 5em auto;
  width: 700px;
  background-color: #F0F9E1;
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#login-wrapper h1.logo {
  float: left;
  text-indent: -10000px;
  width: 185px;
  height: 218px;
  margin: 0 15px 0 0;
  padding: 0;
  background: url(/images/login_logo.png) top left no-repeat;
}

#login-wrapper p {
  margin: 30px 0 20px 0;
  font-size: 1.3em;
  line-height: 1.5em;
}

#login-wrapper form input.password {
  width: 200px;
  border: 1px solid #CCC;
  font-size: 1.2em;
}