<h1>Files</h1>

<div id="files">
  <table border="1">
    <tr>
      <th>File Name</th>
      <th>Size</th>
      <th>Download link</th>
    </tr>
    <% @files.each do |file| -%>
      <tr>
	<td>
	  <%= image_tag "/library/#{file.sHA1Urn.to_s}/thumbnail/16" -%>
	  <b><%= file.file_name.to_s -%></b>
	</td>
	<td><%= file.file_size.to_s -%></td>
	<td><%= link_to 'Download', "/library/#{file.sHA1Urn.to_s}" -%></td>
      </tr>
    <% end -%>
  </table>
</div>
