<% photos = photos || []  %>
<ul class="gallery">
  <% photos.each do |photo| %>
  <li><a href="/library/<%= photo.sha1 -%>"><img src="/library/<%= photo.sha1 %>/thumbnail/100" alt="Foo" title="Foo" /></a></li>
  <% end %>
</ul>
