<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" >
    <head>
      <title>LimeWire Toolbar</title>
      <link rel="stylesheet" type="text/css" href="/assets/toolbar/resources/css/boombox.css" />
      <script type="text/javascript" src="/assets/toolbar/resources/js/ext-core.js"></script>
      <script type="text/javascript" src="/assets/toolbar/resources/js/soundmanager2-nodebug-jsmin.js"></script>
      <script type="text/javascript" src="/javascripts/jquery.js"></script>
      <script type="text/javascript" src="/javascripts/jquery.cometd.js"></script>
      <script type="text/javascript" src="/javascripts/jquery.cometd-setup.js"></script>
      <!-- include boombox files -->

      <script type="text/javascript" src="/assets/toolbar/source/boombox/Base.js"></script>
      <script type="text/javascript" src="/assets/toolbar/source/util/Hash.js"></script>
      <script type="text/javascript" src="/assets/toolbar/source/boombox/Track.js"></script>
      <script type="text/javascript" src="/assets/toolbar/source/boombox/Playlist.js"></script>
      <script type="text/javascript" src="/assets/toolbar/source/boombox/Player.js"></script>
      <script type="text/javascript" src="/assets/toolbar/source/boombox/ui/FullPlayer.js"></script>
      <script type="text/javascript" src="/assets/toolbar/javascripts/toolbar.js"></script>

      <style type="text/css">
        body{
          font-family: "Trebuchet MS";
          font-size: 11px;
        }
      </style>
    </head>
    <body>
      <div id="boombox">
      </div>
    </body>
</html>
