<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Searching...</title>
    <%= javascript_include_tag 'jquery' -%>
    <%= javascript_include_tag 'jquery-periodic' -%>
    <%= javascript_include_tag @javascript_includes if @javascript_includes -%>
    <style type="text/css">
      #total_progress,
      #file_progress {
        height: 5px;
        width: 100%;
        background-color: #EEE;
        border: 1px solid #EEE;
      }
      #total_progress_indicator,
      #file_progress_indicator {
        height: 5px;
        width: 0%;
        background-color: #8CE;
      }

      BODY {
        margin: 0;
        padding: 0;
        font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
      }

      #search {
        background: url('/assets/songbird_search/images/searchbox-background.png') top left repeat-x;
        border: 0;
        font-size: 2.5em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        width: 100%;
        padding: 1px 0 1px 0.2em;
      }

      #search_wrapper {
        position:relative;
        margin-right: 160px;
      }

      #submit {
        font-size: 2.5em;
        background-color: #666;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border: 0;
      }

      #submit_wrapper{
        float: right;
        width: 160px;
        text-align: right;
      }

      #search_form {
        margin: 100px auto 0 auto;
        width: 95%;
      }

      ul#results li.selected {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        background-color: orange;
        padding: 0 5px;
      }

      table { width: 100%; position: relative; }
      table, table td, table th { margin: 0; padding: 0; border-collapse: collapse}
      table thead { position: fixed; width: 100%; }
      table tr:nth-child(2n+1) { background-color: #F8F8F8; }
      table#results thead tr th { padding: 0 3px; text-align: left; font-size: 0.8em; background: url("/assets/songbird_search/images/playlist_header.png"); line-height: 18px; border-color: #FFF #999 #999 #FFF; border-width: 1px; border-style: solid; color: #000; }
      table#results tbody tr td { padding: 2px 3px; font-size: 0.8em; }

      td.space { min-width: 4px; }
      td.from { min-width: 34px; }
      td.name { min-width: 37px; }
      td.extension { min-width: 64px; }
      td.type { min-width: 32px; }
      td.size { min-width: 26px; }

    </style>
  </head>
  <body>
      <%= yield -%>
  </body>
</html>
