<% plugin_javascript_include 'jquery.cometd.js', 'jquery-ui', 'jquery-fluid16', 'jquery.dynacloud.js', 'comet-setup', 'search', 'soundmanager2', 'berniecode-animator', '360player' -%>

<div class="grid_12">
  <div id="results" class="ui360">
    &nbsp;
  </div>
</div>

<div class="grid_4" style="background-color: #DDD">
  hi
</div>
