<html>
<head>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAALuwCe658NEwUXTR5laCXJBTw-HXvOAb_Kr0A1LA53KbNilNVkhSyZYWTMGlAZ-sIwqojxSfG3lh_5g&amp;hl=" type="text/javascript"></script>
<script src="/assets/world_view/javascripts/ym4r-gm.js" type="text/javascript"></script>
<style type="text/css">
 v:* { behavior:url(#default#VML);}
</style>
  <script src="/javascripts/jquery.js" type="text/javascript"></script>
  <link href="/assets/world_view/stylesheets/maps.css?1238874019" media="screen" rel="stylesheet" type="text/css" />
  <!--[if IE]>
  <link href="/stylesheets/maps-ie.css?1238874019" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->
  <title>LimeWire: Where are my peers?</title>

  <script type="text/javascript" src="/assets/world_view/javascripts/world_view.js"></script>

</head>
<body>

  <div id="map"></div>
  <div id="twitterCount">loading...</div>
  <div id="dialogbox" style="display:none"></div>
  <div id="postForm" style="display:none"></div>
  <div id="likebox"></div>
  <div id="splash"><IMG SRC="/assets/world_view/splash.png"></div>
  <div id="preferences" style="display:none"></div>
  <div id="infoWindow"></div>

  <div id="quickguide" style="display:none;"></div>
  <div id="systemstatus" style="display:none;"></div>

  <div id="mapCaption">
    Part of <A HREF='http://mnutt.github.com/limewire-remote' target='_new'>LimeWire Remote</A>&nbsp;&#8212;&nbsp;
    Inspired by <A HREF='http://twittervision.com/' target='_new'>TwitterVision</A>, by
    <A HREF='http://twitter.com/twittervision' target=_new>David Troy</A>
  </div>
</body>
</html>
