<% plugin_javascript_include "flexigrid.js", "jquery.hotkeys.js", "jquery.get_params.js", "live_search", "search" -%>

<table id="results">
  <thead>
    <tr>
      <th class="space"> &nbsp; </th>
      <th class="from">From</th>
      <th class="name">Name</th>
      <th class="extension">Extension</th>
      <th class="type">Type</th>
      <th class="size">Size</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
